@charset "UTF-8";

.page-wrapper {
	background: #edf1f5;
	position: relative;
	-webkit-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

.container-fluid {
	padding: 0px 20px 20px 20px;
}

/*******************
 Breadcrumb and page title
*******************/
.page-titles {
	padding: 14px 10px;
	margin: 15px -20px 15px -20px;
}

.page-titles h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.page-titles .breadcrumb {
	padding: 0px;
	margin: 0px;
	background: transparent;
	font-size: 12px;
}

.page-titles .breadcrumb li a {
	color: #212529;
}

.page-titles .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	content: "\e649";
	font-family: themify;
	color: #ced4da;
	font-size: 11px;
}

.page-titles .breadcrumb .breadcrumb-item.active {
	color: #009efb;
	font-weight: 500;
}

.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid transparent;
	border-radius: 0px;
}

.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.card-title {
	margin-bottom: 0.75rem;
}

.col-md-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.66667%;
	flex: 0 0 41.66667%;
	max-width: 41.66667%;
}

.align-self-center {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}